extends ../layout/index
block contenido  
    .py-10 
       div
    h1.text-center.text-4xl.my-10.font-extrabold.text-dark-cyan Bienes 
        span.font-normal.text-white Raices
    h2.text-center.text-tx2= page
            .mt-8.mx-auto.max-w-md 
                .bg-dark-cyan-100.py-8.px-4.shadow
                    form(action="").space-y-5
                        input(type="hidden" name="_csrf" value=csrfToken)
                        div 
                            label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Correo Electronico  
                            input#email.w-full.px-3.py-2.border-gray-300.rounded-md.placeholder-gray-300(type = "email"  placeholder="ej: user@github.com" name="correo_usuario")
                        div.flex.items-center.justify-between 
                            a.text-gray-500.text-xs(href="/auth/createAccount" class="hover:underline hover:decoration-2 hover:decoration-spring-green") ¿No tienes cuenta? Crea una cuenta 
                            a.text-gray-500.text-xs(href="/auth/login" class="hover:underline hover:decoration-2 hover:decoration-spring-green") ¿Ya tienes cuenta? Inicia Sesión 
                        input(class="w-full bg-spring-green hover:bg-dark-cyan-200 text-white font-bold py-3 cursor-pointer" type="submit" value="Recuperar contraseña")